body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
button {
  padding: 0.3rem;
  margin: 0 0.2rem;
}
.App {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(222, 217, 217);
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
}
.App-header {
  display: flex;
}
.App-label {
  align-self: center;
  margin-right: 2rem;
}
.App-Main_Content {
  margin: 1rem 0;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
